* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Disply", "JetBrainsMono NF";
    font-size: 14px;
    min-height: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

window#waybar {
    /*border-bottom: 2px solid rgb(192, 0, 16);*/
    color: #8ff9ff;
    /*transition-property: background-color;
    transition-duration: 0.5s;*/
}

tooltip {
    background-color: rgba(41, 44, 46, 0.7);
    border-radius: 13px;
    padding: 1rem;

}

#workspaces button {
    padding: 0.3rem 1rem;
    margin: 0.3rem 0.25rem;
    border-radius: 12px;
    border: 1.5px solid rgba(169, 254, 255, 0.5);
    background-color: rgba(169, 254, 255, 0.25);
    color: #8ff9ff;
    transition-property: min-width;
    transition-duration: 100ms;
    box-shadow: none;
    text-shadow: none;

    animation: smoothShit 2s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.38, 0, 0.22, 1.39);
}
#workspaces button:hover {
    background: rgba(169, 254, 255, 0.4);
}

#workspaces button.active {
    min-width: 50px;
    background: rgba(169, 254, 255, 0.6);
}


#battery {
    background-color: rgba(114, 222, 78, 0.25);
    color: #98ff8f;
    border: 1.5px solid rgba(114, 222, 78, 0.5);
    padding: 0.3rem 0.5rem;
    margin: 0.3rem 0.25rem;
    border-radius: 12px;
    min-width: 70px;
}


#battery.charging {
    background-color: rgba(114, 222, 78, 0.3);
}

#clock {
    border: 1.5px solid rgba(252, 204, 204, 0.5);
    background-color: rgba(252, 204, 204, 0.25);
    color: rgb(255, 148, 148);
    border-radius: 12px;
    padding: 0.3rem 0.5rem;
    margin: 0.3rem 0.25rem;
}
#pulseaudio-slider slider {
    opacity: 0;
    background-image: none;
    box-shadow: none;
    min-height: 0px;
    min-width: 0px;
}
#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 13px;
    border-radius: 7px;
    border: 1.5px solid rgba(169, 254, 255, 0.7);
    background: rgba(51, 55, 55, 0.5);
}
#pulseaudio-slider highlight {
    min-width: 1px;
    border-radius: 5px;
    background: rgba(169, 254, 255, 0.5);
}

/*backlight*/

#backlight {
    color: rgb(255, 148, 148);
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    box-shadow: none;
    background: none;
}
#backlight-slider trough {
    min-height: 13px;
    min-width: 80px;
    border-radius: 7px;
    border: 1.5px solid rgba(252, 204, 204, 0.5);
    background: rgba(51, 55, 55, 0.5);
}
#backlight-slider highlight {
    min-width: 1px;
    border-radius: 5px;
    background: rgba(252, 204, 204, 0.25);
}

@keyframes blink {
    to {
        background-color: rgb(252, 204, 204);
        color: rgb(152, 242, 232);
    }
}

#battery.warning:not(.charging) {
    background: #8ff9ff;
    color: rgb(242, 136, 136);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    min-width: 20px;
    background: rgba(114, 222, 78, 0.25);
    color: #98ff8f;
    padding: 0.3rem 0.5rem;
    margin: 0.3rem 0.25rem;
    border: 1.5px solid rgba(114, 222, 78, 0.5);
    border-radius: 12px;
}